.svg-player
  width 70%
  height auto
  margin auto
  user-select none

  &__play, &__pause, &__prev, &__next, &__eject
    cursor pointer

  &__gear-1, &__gear-2
    &.gear--active
      animation 3.5s rotate linear infinite

@keyframes rotate
  from
    transform rotate(0)
  to
    transform rotate(-360deg)
