footer.footer
  a.footer__github(href="https://github.com/Pro100Wolf/music-universe") Project on Github
  .footer__author
    |Design & Develop by&nbsp;
    a(href="https://github.com/Pro100Wolf") @Pro100Wolf