.music-library#music-library
  .music-library__content
    .music-library__loader
    .music-library__slider
      .music-library__item
        include ../../assets/cassette.svg
        button.music-library__item__play-btn
