doctype
html(lang="ru")
head
  meta(charset="UTF-8")
  title Music Universe Player
body
  include components/player/player.pug
  include components/music-library/music-library.pug
  script(src="/bundle.js")